* {
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #ccc;
}

html,body,#app {
    height: 100%;
}
#app {
    overflow: auto;
}

.app-wrap {
    padding: 100px;

    .app-top-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        padding: 0 100px;
        // background-color: #000;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .app-title {
            color: #ffffff;
        }

        .menu {
            display: flex;
            a {
                padding: 0 0 10px 0;
                margin: 0 10px;
                color: #cccccc;
                text-decoration: none;
                
                background-image: linear-gradient(0deg, #fa565a, #fa565a 50%, transparent 50%);
                background-size: 100% 3px;
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }
    }

    .app-list-wrap {
        // margin: 100px;
    }

    .app-list {

        .sort-title {
            margin: 20px 0;
        }

        .app {
            width: 250px;
            height: 84px;
            border: 1px #ccc dashed;
            // padding: 10px 15px;
            align-items: center;
            margin: 0 15px 15px 0;

            display: inline-flex;
            justify-content: space-around;
            align-content: center;
        }

        .icon {
            width: 50px;
            height: 50px;
            background-color: #dddddd;
        }

        .description {
            width: 65%;

            .name {
                font-size: 20px;
            }

            .author, .desc {
                font-size: 12px;
                color: #aaa;
            }
        }
    }
}

.footer {
    padding: 50px 0;
    margin: 0 100px;
    border-top: 1px #666 solid;
    color: #999;
}