* {
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #ccc;
}

html,body,#app {
    height: 100%;
}

::-webkit-scrollbar{ width: 5px;height: 5px; }
::-webkit-scrollbar-button{ display: none; }
::-webkit-scrollbar-track{ display: none; }
::-webkit-scrollbar-track-piece{ background: #ccc; }
::-webkit-scrollbar-thumb{ background: transparent;border-radius:4px; }
::-webkit-scrollbar-corner{ background:#ccc; }
::-webkit-resizer { background: #ccc; }

#app {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.video-bg {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    video {
        width: 100%;
    }
    .mask {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background: url("../images/pattern.png") repeat;
        background-color: rgba(0,0,0, .7);
    }
}

.app-top-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0 100px;
    z-index: 11;
    // background-color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-title {
        color: #ffffff;
    }

    .menu {
        display: flex;
        a {
            padding: 0 0 10px 0;
            margin: 0 10px;
            color: #cccccc;
            text-decoration: none;

            background-image: linear-gradient(0deg, #fa565a, #fa565a 50%, transparent 50%);
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

.app-wrap {
    padding: 100px;


    .app-list-wrap {}

    .app-list {

        .sort-title {
            margin: 20px 0;
            font-size: 20px;
        }

        .app {
            width: 250px;
            height: 84px;
            border: 1px #ccc dashed;
            // padding: 10px 15px;
            align-items: center;
            margin: 0 15px 15px 0;
            cursor: pointer;

            display: inline-flex;
            justify-content: space-around;
            align-content: center;
        }

        .icon {
            width: 50px;
            height: 50px;
            background-color: #dddddd;
        }

        .description {
            width: 65%;

            .name {
                font-size: 20px;
            }

            .author, .desc {
                word-break: break-all;
                font-size: 12px;
                color: #aaa;
            }
        }
    }
}

.footer {
    padding: 50px 0;
    margin: 0 100px;
    border-top: 1px #666 solid;
    color: #999;
}


#add {
    border-radius: 5px;
    .top {
        line-height: 40px;
        background-color: #ccc;
        color: #333;
        padding-left: 20px;
    }
    .bottom {
        text-align: center;
        div {
            display: inline-block;
            background-color: #f2f2f2;
            font-size: 14px;
            padding: 5px 15px;
            border-radius: 3px;cursor: pointer;

            &.confirm-btn {
                background-color: #39BEB9;
                color: #fff;
            }
        }
    }
    .form-group {

        width: 400px;
        margin: 10px 0 10px 20px;

        .label {
            color: #333;
        }

        .form-input {
            display: block;
            width: 100%;
            border: 1px #ccc solid;
            height: 35px;
            margin-top: 5px;
            padding: 0 10px;
            border-radius: 3px;
            &:focus {
                outline: none;
            }
        }

    }
}
